*{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav{
	background-color: #e3f2fd;
}

.navbar-brand{
	width: 60%;
}

.logo{
	width: 100%;
}

.card{
	display: inline-flex;
	align-items: flex-start;
	box-sizing: border-box;
	margin: 1%;
}

#verArtSeleccionado > article > figure{
	width: 100%;
}

#verArtSeleccionado > article > figure > img{
	width: 100%;
}

.needs-validation > table{
	width: 100%;
}

.input-group-text{
	width: 33.33%;
}

.form-control{
	width: 33.33%;
}

.invalid-tooltip{
	position: inherit;
	width: 33.33%;
}
/* -------------------- */
/* Media Queries */

/* Smaller Screens */
@media screen and (min-width: 250px){
	.navbar-brand{
		width: 70%;
	}
}

/* Desktop */
@media screen and (min-width: 991px){
	.navbar-brand{
		width: 20%;
	}

/* verArtSeleccionado */
	#verArtSeleccionado > article{
		display: flex;
	}

	#verArtSeleccionado > article > figure{
		width: 30%;
	}

	.needs-validation > table{
		width: 50%;
	}
}