*{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav{
	background-color: #e3f2fd;
}

.navbar-brand{
	width: 60%;
}

.logo{
	width: 100%;
}

/* -------------------- */
/* Media Queries */

/* Smaller Screens */
@media screen and (min-width: 250px){
	.navbar-brand{
		width: 70%;
	}
}

/* Desktop */
@media screen and (min-width: 991px){
	.navbar-brand{
		width: 20%;
	}
}