*{
	margin: 0;
	padding: 0;
	list-style: none;
}

section{
	margin-bottom: 5%;
}

nav{
	background-color: #e3f2fd;
}

.navbar-brand{
	width: 60%;
}

.logo{
	width: 100%;
}

.icono{
	width: 25px;
}

.card{
	display: inline-flex;
	align-items: flex-start;
	box-sizing: border-box;
	margin: 1%;
}

#verArtSeleccionado > article > figure{
	width: 100%;
}

#verArtSeleccionado > article > figure > img{
	width: 100%;
}

.tableContainer{
	width: 100%;
}

.centerTable{
	display: flex;
	justify-content: center;
	text-align: center;
}

/* tables 3 columns */
.input-group-text{
	width: 100%;
	box-sizing: border-box;
}

.form-control{
	width: 100%;
	box-sizing: border-box;
}

.invalid-tooltip{
	position: inherit;
	width: 100%;
	margin-bottom: 2%;
}

#pImage{
	width: 100%;
}

/* TELA */
#crearTela > form > div > span{
	width: 50%;
	display: inline-block;
}

#crearTela > form > div > input{
	width: 50%;
	display: inline-block;
	margin-bottom: 1%;
}

#crearTela > form > div > div{
	width: 100%;
	margin-bottom: 2%;
}
/* -------------------- */
/* Media Queries */

/* Smaller Screens */
@media screen and (min-width: 250px){
	.navbar-brand{
		width: 70%;
	}
}

/* Desktop */
@media screen and (min-width: 991px){
	.navbar-brand{
		width: 20%;
	}

/* tables 3 columns */
	.input-group-text{
		width: 33.33%;
		box-sizing: border-box;
	}

	.form-control{
		width: 33.33%;
		box-sizing: border-box;
	}

	.invalid-tooltip{
		position: inherit;
		width: 33.33%;
	}

/* verArtSeleccionado */
	#verArtSeleccionado > article{
		display: flex;
	}

	#verArtSeleccionado > article > figure{
		width: 30%;
	}

	.tableContainer{
		width: 80%;
	}
	#pImage{
		width: 50%;
	}

/* TELA */
	#crearTela > form > div > span{
		width: 40%;
		display: inline-block;
	}

	#crearTela > form > div > input{
		width: 40%;
		display: inline-block;
	}
	.input-group-pretend{
		width: 100%;
	}
}